/\  ___\   /\  ___\   /\ \       /\ \   /\ "-.\ \   /\ \/\ \   /\_\_\_\  
\ \___  \  \ \  __\   \ \ \____  \ \ \  \ \ \-.  \  \ \ \_\ \  \/_/\_\/_ 
 \/\_____\  \ \_____\  \ \_____\  \ \_\  \ \_\\"\_\  \ \_____\   /\_\/\_\
  \/_____/   \/_____/   \/_____/   \/_/   \/_/ \/_/   \/_____/   \/_/\/_/

Welcome to the SELinux training system.

We are going to go through the following tasks together:

* Enabling / disabling SELinux (permanently and temporarily, global or per domain)
* Configuring processes and object for SELinux
* SELinux booleans
* Identifying SELinux denials
* Installing additional SELinux policies (RPM, sealert)
* Bonus: SELinux Multi-Category Security (MCS)
* Bonus: Writing custom SELinux policy Modules
* Bonus: Confining Linux users with SELinux

Go ahead and become the root user.

======================================

$ sudo -i

======================================

As the root user, use the following command aliases to get instructions, validate,
and go to another step:

i:  get tutorial instructions
v:  validate that you correctly ran all instructions
n:  go to next tutorial step
p:  go back to previous tutorial step

